.logoImg{
    max-width: 15%;
    max-height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.headerImg{
    margin-top: 15px;
    max-width: 85%;
    max-height: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}